<div class="login-register-shared contain_wrap">
    <div class="row">
        <div class="col-lg-8 mb-4 mb-lg-0">
            <div class="left_section">
                <h2>LIVE EVENT</h2>
                <h2 class="event_date">02 october 2021</h2>
                <div class="content_sec mb-4">
                    <div class="multimedia_wrap text-center">
                        <!-- <img width="100%" src="../../../assets/images/Virtual Day Digital First.png"> -->
                        <img width="100%" src="../../../assets/images/virtual.webp">
                        <!-- <iframe src="https://player.vimeo.com/video/527684092?autoplay=1&loop=1&autopause=0&muted=10" frameborder="0" allow="autoplay; fullscreen" allowfullscreen
                        style=" position:absolute;top:0;left:0;width:100%;height:100%;"></iframe> -->
                    </div>
                    <p><b>Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque, fugiat!</b></p>
                    <p>
                       Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum ad maiores adipisci amet odit possimus animi assumenda quod? Quasi harum quod ea excepturi vel dignissimos assumenda cupiditate ex et eum.</b>
                    
                    </p>
                </div>
                <div class="tabs_wrap">
                    <!-- <tabset type="pills">
                        <tab heading="MAIN STAGE">
                            <div class="tab_content mt-3">
                                <ul>
                                    <li class="mb-3">
                                        <a class="session_wrap" href="#">
                                            <span class="time">14:00</span>
                                            <span class="session_name">Session Name One</span>
                                        </a>
                                    </li>
                                    <li class="mb-3">
                                        <a class="session_wrap" href="#">
                                            <span class="time">14:00</span>
                                            <span class="session_name">Session Name Two</span>
                                        </a>
                                    </li>
                                    <li class="mb-3">
                                        <a class="session_wrap" href="#">
                                            <span class="time">14:00</span>
                                            <span class="session_name">Session Name Three</span>
                                        </a>
                                    </li>
                                    <li class="mb-3">
                                        <a class="session_wrap" href="#">
                                            <span class="time">14:00</span>
                                            <span class="session_name">Session Name Four</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </tab>
                        <tab heading="ROOM 1">
                            <div class="tab_content mt-3">
                                <ul>
                                    <li class="mb-3">
                                        <a class="session_wrap" href="#">
                                            <span class="time">14:00</span>
                                            <span class="session_name">Session Name Five</span>
                                        </a>
                                    </li>
                                    <li class="mb-3">
                                        <a class="session_wrap" href="#">
                                            <span class="time">14:00</span>
                                            <span class="session_name">Session Name Six</span>
                                        </a>
                                    </li>
                                    <li class="mb-3">
                                        <a class="session_wrap" href="#">
                                            <span class="time">14:00</span>
                                            <span class="session_name">Session Name Seven</span>
                                        </a>
                                    </li>
                                    <li class="mb-3">
                                        <a class="session_wrap" href="#">
                                            <span class="time">14:00</span>
                                            <span class="session_name">Session Name Eight</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>    
                        </tab>
                        <tab heading="ROOM 2">
                            <div class="tab_content mt-3">
                                <ul>
                                    <li class="mb-3">
                                        <a class="session_wrap" href="#">
                                            <span class="time">14:00</span>
                                            <span class="session_name">Session Name One</span>
                                        </a>
                                    </li>
                                    <li class="mb-3">
                                        <a class="session_wrap" href="#">
                                            <span class="time">14:00</span>
                                            <span class="session_name">Session Name Two</span>
                                        </a>
                                    </li>
                                    <li class="mb-3">
                                        <a class="session_wrap" href="#">
                                            <span class="time">14:00</span>
                                            <span class="session_name">Session Name Three</span>
                                        </a>
                                    </li>
                                    <li class="mb-3">
                                        <a class="session_wrap" href="#">
                                            <span class="time">14:00</span>
                                            <span class="session_name">Session Name Four</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </tab>
                        <tab heading="ROOM 3">
                            <div class="tab_content mt-3">
                                <ul>
                                    <li class="mb-3">
                                        <a class="session_wrap" href="#">
                                            <span class="time">14:00</span>
                                            <span class="session_name">Session Name Five</span>
                                        </a>
                                    </li>
                                    <li class="mb-3">
                                        <a class="session_wrap" href="#">
                                            <span class="time">14:00</span>
                                            <span class="session_name">Session Name Six</span>
                                        </a>
                                    </li>
                                    <li class="mb-3">
                                        <a class="session_wrap" href="#">
                                            <span class="time">14:00</span>
                                            <span class="session_name">Session Name Seven</span>
                                        </a>
                                    </li>
                                    <li class="mb-3">
                                        <a class="session_wrap" href="#">
                                            <span class="time">14:00</span>
                                            <span class="session_name">Session Name Eight</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </tab>
                    </tabset> -->
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="right_section">
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</div>