@import "../../../assets/scss/variable";

.login-register-shared {
    .left_section {
        h2{
          color: $color-light-black
        }
        .event_date{
            color: $color-blue;
            font-weight: $font-weight-semi;
        }
    }
}

.multimedia_wrap {
    margin: 20px 0px;
    overflow: hidden;
    iframe{
        overflow: hidden;
        object-fit: fill;
        -webkit-filter: blur(15px);
        -moz-filter: blur(15px);
        -o-filter: blur(15px);
        -ms-filter: blur(15px);
        filter: blur(15px);
        pointer-events: none;
    }
}
