@import "../../../assets/scss/variable";
nav.navbar.navbar-light{
    background-color: $color-white;
    .header_top{
        width: 95%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .navbar-brand{
        img{
            max-width: 100px;
        }
    }
}

.profile_name {
    background: $color-light-gray;
    padding: 5px 10px;
    color: $color-lightest-gray;
    text-decoration: none;
    border-radius: 30px;
    .text-truncate{
        max-width: 150px;
        display: inline-block;
        vertical-align: middle;
    }
    .name {
        height: 26px;
        width: 26px;
        background: $color-dusky-yellow;
        text-align: center;
        min-width: 26px;
        line-height: 26px;
        border-radius: 100%;
        color: $color-lightest-gray;
        font-weight: 700;
        display: inline-block;
        margin-left: 6px;
    }
}