<nav class="navbar navbar-light">
    <div class="header_top">
        <a class="navbar-brand"  [routerLink]="['/']">
            <!-- <img src="../../../assets/images/image.png" alt=""> -->
            <img src="../../../assets/images/logo.webp" alt="">
        </a>
        <!-- <a [routerLink]="['/accounts/info']" class="profile_name"> <span class="text-truncate">Prénom Nom</span> <span class="name">P</span></a> -->
    </div>
</nav>
<router-outlet></router-outlet>