$color-white: #fff;
$color-black: #000000;
$color-light-black: #000405;
$color-dusky-black: #070707;
$color-lighter-black: #414141;
$color-blue: #02ABE7;
$color-blue-card: #08AAE4;
$color-light-blue: #A7C4CE;
$color-gray: #8D8D8D;
$color-lighter-gray: #cacaca;
$color-extlighter-gray: #c7c7c7;
$color-light-gray: #F3F4F5;
$bg-blue: #02ABE7;
$font-weight-extbold: 900;
$font-weight-bold: 700;
$font-weight-semi: 500;
$font-weight-normal: normal;
$color-dark-blue: #0077b5;
$color-darker-blue:#0285B3;
$bg-green:#84BB44;
$color-lightest-gray: #9B9B9B;
$bg-gray: #ECECEC;
$color-dark-gray: #8D8D8D;
$color-dusky-yellow: #F5DCB4;
$color-dark-green: #31A24C;
$color-light-pink: #F6E6E7;
$color-light-yellow: #F9E7C9;
$color-light-green: #D3DAAC;
$color-dusky-blue: #D8D8D8;
$color-lighter-blue: #CDE5E5;
$bg-red: #F54336;