@import "../../../assets/scss/variable";
.admin_board_wrap{
    padding: 0px 15px;
    max-width: 1000px;
    margin: 0 auto
}
.list_admin{
    ul {
        list-style: none;
        padding: 0;
        margin: 0;
        li {
            a {
                width: 100%;
                text-decoration: none;
                margin-bottom: 10px;
                display: inline-block;
                border-bottom: 1px solid rgba($color-extlighter-gray,0.25);
                color: $color-extlighter-gray;
                padding-bottom: 10px;
                &.active{
                    color: $color-blue;
                }
                &:hover{
                    color: $color-black;
                }
            }
        }
    }
}