
<div class="admin_board_wrap">
    <div class="contain_wrap">
        <div class="row">
            <div class="col-lg-4 col-md-5 mb-4 md-mb-0">
                <div class="left_admin">
                    <h6 class="heading1">Account</h6>
                    <div class="list_admin">
                        <ul>
                            <li><a [routerLink]="['./info']" [routerLinkActive]="['active']"  >My informations</a></li>
                            <li><a [routerLink]="['./registration']" [routerLinkActive]="['active']">My event registrations</a></li>
                            <li><a [routerLink]="['./requests']" [routerLinkActive]="['active']">Request my account information</a></li>
                            <li><a [routerLink]="['./delete']" [routerLinkActive]="['active']">Delete my account</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-7">
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</div>
