<div class="form_wrap">
    <h4 class="heading1">CONNECT</h4>
    <div class="form_in">
        <form [formGroup]="form" (ngSubmit)="onSubmit(model)">
            <formly-form [form]="form" [fields]="fields" [model]="model"></formly-form>
            <button type="submit" class="btn btn-primary">Watch the live</button>
            <a  [routerLink]="['/forgot_password']" class="forget_pass mb-3 py-3 center">Forgot password ?</a>
        </form>
        <div class="not_register">
            <h5>No account yet?</h5>
            <button [routerLink]="['/registration']" type="button" class="btn btn-secondary">SIGN UP</button>
        </div>
    </div>
</div>