<div class="main-content">
  <div class="container-fluid">
    <div class="row justify-content-center">
      <div class="col-12 col-lg-10 col-xl-8">
        <!-- Header -->
        <div class="header mt-md-5">
          <div class="header-body">
            <app-page-title
              [title]="title"
              [headerPreTitle]="herderPreTitle"
            ></app-page-title>
          </div>
        </div>

        <form [formGroup]="form" (ngSubmit)="submit(model)" autocomplete="off">
          <formly-form  [model]="model" [fields]="fields"  [form]="form"></formly-form>
          <button type="submit" class="btn w-100 btn-primary"> {{typeOfFrom}} Task </button>
          <a href="javascript:;" class="btn w-100 btn-link text-muted mt-2" (click)="cancelNewtaskCreation()"> Cancel </a>
        </form>
     </div>
    </div>
    <!-- / .row -->
  </div>
</div>
