@import "../../../../assets/scss/variable";

.heading1 {
    border-bottom: 1px solid $color-lighter-gray;
    position: relative;
    color: $color-blue;
    margin-bottom: 20px;
    padding-bottom: 5px;
    &::before{
        content: "";
        position: absolute;
        width: 200px;
        height: 2.5px;
        left: 0;
        bottom: -1px;
        background-color: $bg-blue;
    }
}
.connect_social{
    border-bottom: 1px solid $color-lighter-gray; 
}
.link_ico{
    background-color: $color-dark-blue;
    color: $color-white;
    padding: 10px 12px;
    border-radius: 5px;
    text-decoration: none;    
    position: relative;    
    display: inline-flex;
    align-items: center;
    .fa-linkedin-in{
        &::after{
            content: "";
            bottom: 0;
            width: 1px;
            position: absolute;
            right: auto;
            background-color: #118aca;
            left: 35px;
            top: 0;
        }
    }
    span{
        font-size: 12px;
        padding: 0px 15px;
        letter-spacing: 1px;
    }
}
.forget_pass{
    border-bottom: 1px solid $color-lighter-gray; 
    color: $color-lightest-gray;
    display: inline-block;
    width: 100%;
    text-decoration: none;
    &:hover{
        text-decoration: underline;
    }
}
.not_register{
    h5{
        color: $color-blue;
    }
}
.log_txt{
    color: $color-blue;
    font-size: 14px;
    display: inline-block;
    width: 100%;
    text-align: center;
    &:hover{
        text-decoration: none;
    }
}