<div [class]="{'has-error':formControl?.errors}" class="form-group has-error">
    <label>{{ to.label }}{{to.required?'*':''}}</label>
    <!-- {{to | json}} -->
    <input type="text" [placeholder]="to.placeholder" class="form-control" [formControl]="formControl"
        [formlyAttributes]="field" #dp="bsDatepicker" bsDatepicker
        [bsConfig]="{showTodayButton: true, todayPosition: 'right',containerClass:'theme-dark-blue', isAnimated: true , dateInputFormat: 'DD/MM/YY',showWeekNumbers:false}"
        [class.is-invalid]="formControl.errors" autocomplete="off" [disabled]="to.disabled || false">
    <!-- {{formControl.errors | json}} -->
    <div *ngIf="formControl.errors" class="invalid-feedback"
        [style.display]="formControl.errors.required?'block':'none'">
        <div *ngIf="formControl.errors.required">This field is required
        </div>
    </div>
</div>