<div class="card-footer d-flex justify-content-between">
  <!-- Pagination (prev) -->
  <ul class="list-pagination-prev pagination pagination-tabs card-pagination">
    <li class="page-item" (click)=" onPreviousPage()">
      <a href="javascript:;" class="page-link ps-0 pe-4 border-end" [ngClass]="{'disabled':config.currentPage===1}" [ngStyle]="{'cursor':config.currentPage === 1 ? 'not-allowed' : 'pointer'}">
        <i class="fe fe-arrow-left me-1"></i> Prev
      </a>
    </li>
  </ul>

  <!-- Pagination -->


  <ul class="list-pagination pagination pagination-tabs card-pagination">
    <li *ngFor="let pages of pagesList()" class="active" [ngClass]="{'active':config.currentPage==pages}"><a
        class="page" href="javascript:;" (click)="change_Page(pages)" data-i="1" data-page="10">{{pages}}</a></li>

  </ul>

  <!-- Pagination (next) -->
  <ul class="list-pagination-next pagination pagination-tabs card-pagination">
    <li class="page-item" (click)="onNextPage()">
      <a class="page-link ps-4 pe-0 border-start" href="javascript:;"
        [ngClass]="{'no-pointer-class':config.currentPage=== pagesList()}"
        [ngStyle]="{'cursor':config.currentPage=== pagesList().length ? 'not-allowed' : 'pointer'}">
        Next <i class="fe fe-arrow-right ms-1"></i>
      </a>
    </li>

  </ul>

  <!-- Alert -->
  <div class="list-alert alert alert-dark alert-dismissible border fade" role="alert">

    <!-- Content -->
    <div class="row align-items-center">
      <div class="col">

        <!-- Checkbox -->
        <div class="form-check">
          <input class="form-check-input" id="listAlertCheckbox" type="checkbox" checked="" disabled="">
          <label class="form-check-label text-white" for="listAlertCheckbox">
            <span class="list-alert-count">0</span> deal(s)
          </label>
        </div>

      </div>
      <div class="col-auto me-n3">

        <!-- Button -->
        <button class="btn btn-sm btn-white-20">
          Edit
        </button>

        <!-- Button -->
        <button class="btn btn-sm btn-white-20">
          Delete
        </button>

      </div>
    </div> <!-- / .row -->

    <!-- Close -->
    <button type="button" class="list-alert-close btn-close" aria-label="Close"></button>

  </div>

</div>