.spinner-border.text-info {
    z-index: 99999;
    position: absolute;
    top: 10%;
    right: 50%;
}
.screen {
    background-color: rgba(0,0,0,0.6);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 9999;
	.spinner-border.text-info {
   	 z-index: 99999;
   	 position: absolute;
   	 top: 50%;
   	 right: 50%;
	}
}