<div class="mainApp">
    <div *ngIf="loaderFlag" class="screen">
        <div *ngIf="loaderFlag" class="spinner-border text-info" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
    <router-outlet ></router-outlet>
</div>