<div class="form_wrap">
    <h4 class="heading1">Change password</h4>
  
    <div class="form_in">
        <form [formGroup]="form" (ngSubmit)="onSubmit(model)">
            <formly-form [form]="form" [fields]="fields" [model]="model"></formly-form>
            <button type="submit" class="btn btn-primary">Change password</button>
            <a href="javascript:;"  [routerLink]="['/login']" class="log_txt mt-3">Back to Log in.</a>
        </form>
        
    </div>
</div>