<div class="main-content">
  <div class="container-fluid">
    <div class="row align-items-center">
      <div class="col-12">

        <!-- Header -->
        <div class="header top-padding" >
          <a class="btn btn-primary ms-2" style="float: right;" [routerLink]="['../new_task']">
            New Task
          </a>

          <app-page-title [title]="title" [headerPreTitle]="headerPreTitle"></app-page-title>
          <hr class="navbar-divider my-3">


        </div>

        <app-theme-table [dataTable]="dataTable" [option]="tableOption" [module]="module" (duplicateData)="getDuplicate($event)" (anyChangeInConfig)="configChange($event)" >
        </app-theme-table>
      </div>
    </div>



  </div>

</div>
