@import "../../../../assets/scss/variable";

.heading1 {
    border-bottom: 1px solid $color-lighter-gray;
    position: relative;
    color: $color-blue;
    margin-bottom: 20px;
    padding-bottom: 5px;
    &::before{
        content: "";
        position: absolute;
        width: 200px;
        height: 2.5px;
        left: 0;
        bottom: -1px;
        background-color: $bg-blue;
    }
}
.connect_social{
    border-bottom: 1px solid $color-lighter-gray; 
}
.link_ico{
    background-color: $color-dark-blue;
    color: $color-white;
    padding: 10px 12px;
    border-radius: 5px;
    text-decoration: none;    
    position: relative;    
    display: inline-flex;
    align-items: center;
    .fa-linkedin-in{
        &::after{
            content: "";
            bottom: 0;
            width: 1px;
            position: absolute;
            right: auto;
            background-color: #118aca;
            left: 35px;
            top: 0;
        }
    }
    span{
        font-size: 12px;
        padding: 0px 15px;
        letter-spacing: 1px;
    }
}
.log_txt{
    color: $color-blue;
    font-size: 14px;
    display: inline-block;
    width: 100%;
    text-align: center;
    &:hover{
        text-decoration: none;
    }
}


.register_head{
    text-transform: uppercase;
}

.container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    color:#8D8D8D;
    font-size: 17px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    .link{
      margin-left: 4px;
      color: #8D8D8D;
  }
  }
  
  /* Hide the browser's default checkbox */
  .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  /* Create a custom checkbox */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
   
    background-color: #eee;
  }
  
  /* On mouse-over, add a grey background color */
  .container:hover input ~ .checkmark {
    background-color: #ccc;
  }
  
  /* When the checkbox is checked, add a blue background */
  .container input:checked ~ .checkmark {
    background-color: #02ABE7;
  }
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the checkmark when checked */
  .container input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the checkmark/indicator */
  .container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }