<div class="form_wrap">
    <h4 class="heading1">Registration</h4>
    
    <div class="form_in">
        <form [formGroup]="form" (ngSubmit)="onSubmit(formDirective)" #formDirective="ngForm">
            <formly-form [form]="form" [fields]="fields" [model]="model"></formly-form>
            <div class="mb-3">
                <label class="container">I register for free to the Live Event
                    <input type="checkbox" value="true" name="liveEvent" formControlName="liveEvent" required />
                    <span class="checkmark"></span>
                </label>
                <label class="container">Accept the<a download href="https://digimedia.be/pdf/Privacy-policy.pdf" class="link" target="_blank">privacy policy</a> | <a download href="https://digimedia.be/pdf/conditions-generales-BOP.pdf" class="link" target="_blank">general terms of sales</a>
                    <input type="checkbox" value="true" name="generalConditions" required formControlName="generalConditions" />
                    <span class="checkmark"></span>
                </label>
            </div>
           <span class="text-danger" *ngIf="submitted && (form.controls.liveEvent.status == 'INVALID' ||  form.controls.generalConditions.status == 'INVALID')">Both condition should be selected</span>
            

            <button type="submit" class="btn btn-secondary">REGISTER</button>
            <a href="javascript:;" [routerLink]="['/login']" class="log_txt mt-3">I am already registered. Log in.</a>
        </form>
    </div>
</div>