/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import "assets/scss/variable";
/* Importing Bootstrap SCSS file. */
@import "~bootstrap/scss/bootstrap";

/* Importing Datepicker SCSS file. */
@import "~ngx-bootstrap/datepicker/bs-datepicker";


body{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: $color-black;
    background: linear-gradient(90.39deg, #FAFAFB 0.35%, #F3F4F5 99.03%);
}
h2{
    text-transform: uppercase;
    font-weight: 700;
}
.form-group {
    position: relative;
    .form-control {
        margin-bottom: 22px;
    }
    .invalid-feedback {
        position: absolute;
        line-height: normal;
        margin: 0;
        font-size: 12px;
        bottom: -17px;
        left: 0;
    }
}


input.form-control{
    background-color: $color-light-gray;
    border-radius: 10px;
    min-height: 48px;
    border: none;
    font-size: 15px;
    padding: .375rem 1rem;
    margin-bottom: 15px;
}
.form-control:focus{
    border-color: $color-blue;
    box-shadow: 0 0 0 0.25rem rgba(2, 171, 231, .05);
}
.btn-check:focus+.btn-primary, .btn-primary:focus{
    background-color: $bg-green;
    border-color: $bg-green;
    color: $color-white;
}
.btn{
    box-shadow: none !important;
}
.btn-danger{
    width: auto;
    border-radius: 40px;
    font-size: 14px;
    padding: 8px 20px;
    min-width: 150px;
    background-color: $bg-red;
    border: 2px solid $bg-red;
    &:hover{
        background-color: $color-white;
        color: $bg-red;
        border: 2px solid $bg-red;
    }
}
.btn-primary{
    background-color: $bg-green;
    border: 2px solid $bg-green;
    text-transform: uppercase;
    font-size: 17px;
    font-weight: $font-weight-bold;
    border-radius: 10px;
    width: 100%;
    min-height: 48px;
    &:hover{
        color: $bg-green;
        background-color: #ffffff;
        border-color: $bg-green;
    }
}
.btn-secondary{
    background-color: $bg-blue;
    border: 2px solid $bg-blue;
    text-transform: uppercase;
    font-size: 17px;
    font-weight: $font-weight-bold;
    border-radius: 10px;
    width: 100%;
    min-height: 48px;
    &.round{
        width: auto;
        border-radius: 40px;
        font-size: 14px;
        padding: 11px 20px;
    }
    &.dark_btn{
        background-color: $color-darker-blue;
        width: auto;
        border-radius: 10px;
        padding: 11px 30px;
    }
    &:hover{
        color: $bg-blue;
        background-color: #ffffff;
        border-color: $bg-blue;
    }
}
.btn-check:focus+.btn-secondary, .btn-secondary:focus{
    background-color: $bg-blue;
    border-color: $bg-blue;
    color: $color-white;
}


.tabs_wrap {
   .nav.nav-pills{
       border-bottom: 1px solid $color-lighter-gray;
       .nav-item{
           margin-right: 30px;
           @media (max-width: 767px){
               margin-right: 15px;
           }
            .nav-link{
                background-color: transparent;
                color: $color-light-blue;
                padding: 0;
                @media (max-width: 767px){
                    font-size: 14px;
                }
                &.active{
                    background-color: transparent;
                    color: $color-blue;
                    position: relative;
                    padding-bottom: 10px;
                    &::before{
                        content: "";
                        position: absolute;
                        height: 2px;
                        background-color: $bg-blue;
                        width: 100%;
                        bottom: 0;
                    }
                }
            }
       }
    }
}


.tab_content{
    ul{
        list-style: none;
        margin: 0;
        padding: 0;
        li{
            .session_wrap {
                display: flex;
                align-items: center;
                color: $color-dark-gray;
                text-decoration: none;
                width: 100%;
                .time {
                    height: 36px;
                    width: 36px;
                    background: $bg-gray;
                    display: inline-block;
                    line-height: 33px;
                    border-radius: 100%;
                    font-size: 12px;
                    text-align: center;
                    margin-right: 15px;
                }
                .session_name{
                    text-decoration: none;
                    width: calc(100% - 50px);
                    border-bottom: 1px solid rgba($color-extlighter-gray,0.25);
                    padding-bottom: 10px;
                }
            }
            
        }
    }
}

.contain_wrap{
    background: $color-white;
    border-radius: 15px;
    box-shadow: 0px 0px 10px rgb(0 0 0 / 15%);
    padding: 30px;
    max-width: 95%;
    margin: 30px auto 0; 
    min-height: 600px;
}
.heading1 {
    border-bottom: 1px solid $color-lighter-gray;
    position: relative;
    color: $color-blue;
    margin-bottom: 20px;
    padding-bottom: 5px;
    min-height: 34px;
    text-transform: uppercase;
    font-weight: $font-weight-bold;
    &::before{
        content: "";
        position: absolute;
        width: 40%;
        height: 2.5px;
        left: 0;
        bottom: -1px;
        background-color: $bg-blue;
    }
}



/*********/

.tab_wrapper{
    max-width: 95%;
    margin: 30px auto 0; 
    .tab-content{
        padding: 30px;
        background: #fff;
        border-radius: 15px;
        box-shadow: 0px 0px 10px rgb(0 0 0 / 15%);    
        position: relative;
    }
    .nav-tabs{
        margin-left: 50px;
        border: none;
        @media(max-width:1024px){
            margin-left: 20px;
        }
        .nav-link{
            box-shadow: 0px 0px 10px 0px #00000026;
            border-radius: 10px 10px 0px 0px;
            background: #fff;
            margin: 0px 10px -1px;
            border: none;
            color: $color-light-blue;;
            font-weight: 500;
            @media(max-width:1024px){
                margin: 0px 5px -1px;
            }
            @media (max-width: 767px){
                margin: 0px 0px -1px;
                max-width: 110px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                font-size: 13px;
            }
            &.active{
                box-shadow: none;
                position: relative;
                z-index: 9;
                color: $color-blue;
            }
        }
    }
}

/****/
ul {
    padding: 0;
    list-style: none;
    margin: 0;
}
.slider_main{
    .carousel-caption{
        position: static;
        background-color: $bg-blue;
        border-radius: 10px;
        text-align: left;
        padding: 30px 80px;
        @media (max-width: 991px){
            padding: 20px 45px;
        }
    }
    .carousel-indicators {
        bottom: -30px;
        right: 0;
        left: auto;
        margin: 0;
        li {
            height: 14px;
            width: 14px;
            background: $color-light-gray;
            border-radius: 100%;
            margin: 0 2px;
            cursor: pointer;
            &.active{
                background-color: $color-blue;
            }
        }
    }
    .carousel-control-prev, 
    .carousel-control-next {
        top: 50%;
        width: 40px;
        height: 40px;
        color: rgba($color-white,1);
        transform: translateY(-50%);
        background-color: $color-darker-blue;
    }
    .carousel-control-prev{
        border-radius: 0px 5px 5px 0px;
    }
    .carousel-control-next {
        border-radius: 5px 0px 0px 5px;
    }
}

.radio_outer{
    display: inline-block;
}
.radio_wrap{
    display: block;
    cursor: pointer;
    .link{
        margin-left: 4px;
        color: $color-dark-gray;
    }
    span {
        display: flex;
        align-items: center;
        padding: 0.375em 0.75em 0.375em 0.375em;
        border-radius: 99em;
        transition: 0.25s ease;
        color: $color-dark-gray;
        &:before {
            display: flex;
            flex-shrink: 0;
            content: "";
            width: 1.5em;
            height: 1.5em;
            margin-right: 0.375em;
            transition: 0.25s ease;
            box-shadow: inset 2px 1px 3px rgba(0,0,0,0.5);
            background-color: $color-white;
        }
    }
    input {
        position: absolute;
        left: -9999px;
        &:checked{
            + span{
                color: $color-blue;
                &::before{
                    box-shadow: inset 0 0 0 0.4375em  #0285B3;
                }
            }
        }
    }
    
}

.carousel-caption{
    h6{
        text-transform: uppercase;
    }
    .radio_wrap{
        span {
            color: $color-white;
        }
        input{
            &:checked{
                + span{
                    color: $color-white;
                }
            }
        }
    }
}


.mainApp{
    position: relative;
}
.bg-dark-blue{
 background-color: $color-darker-blue;
}