.dot-dialog {
  position: absolute;
  inset: 0px auto auto 0px;
  margin: 0px;
  transform: translate(-150px, -60px);
}
.delete{
  color: tomato;
  
}
.filter-dialog{
  position: absolute;
  inset: 0px auto auto 0px;
  margin: 0px;
  transform: translate(-283px, 32px);
}