<div class="card" id="contactsList">
  <div class="card-header">
    <div class="row align-items-center">
      <div class="col">
        <!-- Form -->
        <form>
          <div
            class="
              input-group
              input-group-flush
              input-group-merge
              input-group-reverse
            "
          >
            <input
              class="form-control list-search"
              type="search"
              placeholder="Search"
              name="dataTable.search"
              [(ngModel)]="dataTable.search"
              (keyup)="searchTextChange()"
            />
            <span class="input-group-text">
              <i class="fe fe-search"></i>
            </span>
          </div>
        </form>
      </div>
      <div class="col-auto me-n3">
        <!-- Select -->
        <form>
              <select class="form-select form-select-sm form-control-flush" [(ngModel)]="dataTable.perPage" name="dataTable.perPage" (change)="getDataPerPage()">
                <option value="5" >5 per page</option>
                <option value="10">10 per page</option>
                <option value="{{dataTable.totalRecord}}">All</option>
              </select>
             
      
          
        </form>
      </div>
      <div class="col-auto">
        <!-- Dropdown -->
        <div class="dropdown">
          <!-- Toggle -->
          <button
            class="btn btn-sm btn-white"
            type="button"
            (click)="openFilterDialog()"
            data-bs-toggle="dropdown"
            data-bs-auto-close="outside"
            aria-haspopup="true"
            aria-expanded="false"
            *ngIf="dataTable.filter && dataTable.filter.length > 0"
          >
            <i class="fe fe-sliders me-1"></i> Filter
            <span class="badge bg-primary ms-1 d-none">0</span>
          </button>

          <form
            class="
              dropdown-menu dropdown-menu-end dropdown-menu-card
              filter-dialog
            "
            [ngClass]="{ show: filterDialog }"
            data-popper-placement="bottom-end"
          >
            <div class="card-header">
              <!-- Title -->
              <h4 class="card-header-title">Filters</h4>
            </div>
            <div class="card-body">
              <!-- List group -->
              <div class="list-group list-group-flush mt-n4 mb-4">
                <div class="list-group-item" *ngFor="let filter of dataTable.filter">
                  <div class="row">
                    <div class="col">
                      <!-- Text -->
                      <small>{{filter.label}}</small>
                    </div>
                    <div class="col-auto">
                      <!-- Select -->
                      <div
                        class="choices"
                        data-type="select-one"
                        tabindex="0"
                        role="listbox"
                        aria-haspopup="true"
                        aria-expanded="false"
                      >
                        
                            <select
                            class="form-select form-select-sm form-control"
                            name="item-title"
                            data-choices='{"searchEnabled": false}'
                            [(ngModel)]="filter.result"
                            tabindex="-1"
                            data-choice="active"
                          >
                            <option *ngFor="let data of filter.data" [value]="data.name">{{data.name}}</option>
                            <!-- <option value="*">Any1</option> -->
                          </select>
                           
                          </div>

                        <div
                          class="choices__list dropdown-menu"
                          aria-expanded="false"
                        >
                         
                        </div>
                      </div>

                  </div>
                  <!-- / .row -->
                </div>
              </div>

              <!-- Button -->
              <button class="btn w-100 btn-primary" type="button" (click)="openFilterDialog();getDataPerPage()">
                Apply filter
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <!-- / .row -->
  </div>
  <div class="bg-white table-responsive">
    <div>
      <table
        class="table table-sm table-hover table-nowrap card-table Projects"
      >
        <thead>
          <tr>
            <th>
              <div class="form-check mb-n2">
                <input
                  class="form-check-input"
                  id="listCheckboxOne"
                  type="checkbox"
                  (change)="onGetAllCheckbox($event)"
                />
              </div>
            </th>

            <th *ngFor="let heading of dataTable.headers" >
              <span class="list-sort" data-sort="item-name">
                <a (click)="sortby(heading?.key)" style="cursor:pointer">{{
                heading.label
              }} </a>
              <img style="margin-top: -8px;height: 5px;" src="assets/img/fa-sort-up.svg" *ngIf="heading?.order == 1">
              <img style="height: 4px;" src="assets/img/fa-sort-down.svg" *ngIf="heading?.order == -1">
              <img style="height: 10px;" src="assets/img/fa-sort.svg" *ngIf="!heading?.order || heading?.order == 0">
            </span>
            </th>
            <th></th>
          </tr>
        </thead>

        <tbody *ngIf="dataTable.data" class="list fs-base">
          <tr *ngIf="dataTable.data.length === 0">
            <td colspan="100">
              <span class="span">No data found</span>
            </td>
          </tr>

          <tr *ngFor="let data of dataTable.data; let i = index">
            <td>
              <div class="form-check mb-n2">
                <input
                  class="form-check-input"
                  id="listCheckboxOne"
                  type="checkbox"
                  [checked]="isChecked"
                  (change)="onCheckBoxchange($event, data._id)"
                />
              </div>
            </td>

            <td *ngFor="let heading of dataTable.headers">
              <div [innerHTML]="data[heading.key]"></div>
            </td>

            <td class="text-end">
              <!-- Dropdown -->
              <div class="dropdown">
                <a
                  class="dropdown-ellipses dropdown-toggle show"
                  role="button"
                  data-bs-toggle="dropdown"
                  aria-haspopup="true"
                  aria-expanded="false"
                  (click)="onOpenToggle(i)"
                >
               
                  <i class="fe fe-more-vertical"></i>
                </a>
                <div
                  class="dropdown-menu dropdown-menu-end show dot-dialog"
                  aria-labelledby="dropdownMenuButton1"
                  data-popper-placement="bottom-end"
                  (mouseleave)="clickout()"
                  (mouseenter)="enterPopup()"
                  *ngIf="showPopUp === i"
                  
                >
                <a
                  class="dropdown-item"
                  href="javascript:;"
                  routerLink="/admin/{{ module }}/update/{{ data._id }}"
                >
                  Edit
                </a> <a
                  href="javascript:;"
                  *ngIf="option.duplicate"
                  class="dropdown-item"
                  (click)="onDuplicate(data._id)"
                  >Duplicate
                </a>
                <a
                  href="javascript:;"
                  class="dropdown-item delete"
                  (click)="onDelete(data._id)"
                >
                  Delete
                </a>
                
                 
                </div>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div
    class="list-alert alert alert-dark alert-dismissible border fade show"
    role="alert"
    [ngClass]="{'show':deleteCheckboxDialog && checkboxCount>0}"
  >
    <!-- Content -->
    <div class="row align-items-center">
      <div class="col">
        <!-- Checkbox -->
        <div class="form-check">
          <input
            class="form-check-input"
            id="listAlertCheckbox"
            type="checkbox"
            checked=""
            disabled=""
          />
          <label class="form-check-label text-white" for="listAlertCheckbox">
            <span class="list-alert-count">{{ checkboxCount }}</span
            >&nbsp;{{ urlParameter }}
          </label>
        </div>
      </div>
      <div class="col-auto me-n3">
        <!-- Button -->
        <button class="btn btn-sm btn-white-20">Delete</button>
      </div>
    </div>
    <!-- / .row -->

    <!-- Close -->
    <button
      type="button"
      class="list-alert-close btn-close"
      aria-label="Close"
      (click)="deleteCheckboxDialog=!deleteCheckboxDialog"
    ></button>
  </div>
  <app-pagination
    *ngIf="dataTable.data.length !== 0"
    [config]="dataTable"
    (changePage)="onPageChange($event)"
  >
  </app-pagination>
</div>
